
.model-output {
  color: #d4d4d4;
  background-color: #1e1e1e;
  padding: 0.0rem 0.5rem 0.5rem;
  overflow-y: auto;
}

.json-code-editor {
  height: 300px;
}
.editor-title {
  font-size: 0.8rem;
  background-color: #1e1e1e;
  color: #d4d4d4;
  padding: 0.5rem;
  display: block;
  user-select: none;
}
.editor-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.editor-column {
  flex: 1;
}
