<button mat-flat-button (click)="shareMode='flow'">Share flow</button>
<button mat-flat-button (click)="shareMode='database'">Share database</button>
<div *ngIf="shareMode=='flow'">
  <p class="mat-typography">Share the following flow link:</p>
  <textarea #textBox readonly="readonly">{{flowShareLink}}</textarea><br>
  <button mat-flat-button (click)="textBox.focus();textBox.select()">Select all</button>
  <button mat-flat-button (click)="copyText()">Copy link</button>
</div>

<div *ngIf="shareMode=='database'">
    <p class="mat-typography">Share the following database link:</p>
    <textarea #textBox readonly="readonly">{{dbShareLink}}</textarea><br>
    <button mat-flat-button (click)="textBox.focus();textBox.select()">Select all</button>
    <button mat-flat-button (click)="copyText()">Copy link</button>
  </div>
  
