<div *ngIf="isLoading">
  <span class="sr-only">Loading...</span>
</div>

<!-- [formGroup]="loginForm" -->
<form (submit)="submit()"  novalidate
[formGroup]="loginForm">
  
  <div *ngIf="mode != 'edit'"  class="form-container" fxLayout="row"  fxLayoutGap="40px" fxFlexFill>

      <mat-form-field appearance="standard">
        <mat-label>Email/Username</mat-label>
        <input matInput placeholder="Enter Email/Username" autofocus 
        [readonly]="mode === 'create'"
           value="{{email}}" 
          formControlName="username"
          >
      </mat-form-field>
  
  </div>



  <section  class="form-container" fxLayout="row"  fxLayoutGap="40px" fxFlexFill>
  
      <mat-form-field appearance="standard" *ngIf="mode === 'edit'">
        <mat-label>Current Password</mat-label>
        <input matInput placeholder="Enter current password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
 
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input  formControlName="password" matInput placeholder="Enter new password" [type]="hidePassword ? 'password' : 'text'">
        <mat-icon matSuffix 
        (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}

        </mat-icon>
        <!-- <mat-hint>Password is too weak</mat-hint> -->
        <mat-error *ngIf="password.invalid">Password is too weak</mat-error>
      
      </mat-form-field>
    <!-- *ngIf="loginForm.controls.password.errors?.pattern" -->

    <mat-form-field appearance="standard">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmPassword" matInput placeholder="Enter your password again" [type]="hidePassword ? 'password' : 'text'">
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
      <mat-error *ngIf="confirmPassword.invalid">oops</mat-error>
    </mat-form-field>
  
</section>  
<mat-hint  *ngIf="password.invalid && password.value.length > 2">Password must contain at least one upper case character, at least one number and at least 8 characters
    in length.</mat-hint>

  <!--  -->
  <div class="alert alert-danger" *ngIf="confirmPassword.errors?.MatchPassword && password.valid && confirmPassword.value.length > 2">Passwords do not match</div>

 




</form>