
<div class="col-12 key-container" [hidden]="userForm.valid">
  <i class="fa fa-circle fa-1" style="color:red"></i> = Required field
</div>
[formGroup]="userForm"
<form  (submit)="submit()" novalidate autocomplete="on">
  <div class="row">
    <div class="col-6">


      <section class="row" formGroupName="contactDetails">

        <div class="col-6">
          <section class="form-group">
            <label class="form-label">First Names</label>
            <input class="form-control form-input required" placeholder="" formControlName="firstname" />
         
          </section>
        </div>
        <div class="col-6">
          <section class="form-group">
            <label class="form-label">Last Name</label>
            <input class="form-control form-input required" placeholder="" formControlName="lastname" />
     
          </section>
        </div>

        <div class="col-12">
          <section class="form-group">
            <label class="form-label">Email</label>
            <input class="form-control form-input required" type="email" placeholder="" formControlName="email" email (keyup)="onEmailChange()"
              [ngClass]="{'isLoading' : isLoading}" />
            

            <!-- <input class="form-control" formControlName="grexname" appInputMask="goodGuys" appPreventBadWords="badWords" (msg)="getErrorMsg($event)"/>  -->

            <div *ngIf="isLoading">Checking Email.... please wait</div>
            <div [ngClass]="msg?.isValid ? '':'has-danger'">
              {{msg?.msg}}
            </div>
          </section>
        </div>
        <div class="col-12">
          <section class="form-group">
            <label class="form-label">Telephone</label>
            <input class="form-control form-input" placeholder="" appInputMask="phone" formControlName="telephone" />
          </section>
        </div>

      </section>

      <div class="col-12">
        <div class="card">
          <div class="card-body small">
              <i class="fa fa-exclamation-triangle " aria-hidden="true" style="color:orange"> </i>


            <b> Personal Data Statement</b>
        

            <br>



            <div class="form-checkbox mt-2" [ngClass]="address.valid && iAccept.value !== true ? 'flashit' : ''">
              <input type="checkbox" class="form-check-input" formControlName="iAccept" id="optionsRadios2" [value]="true">
              <label class="form-checkbox__label" for="optionsRadios2"> </label>
              <span class="form-checkbox__text">
                I accept
              </span>
            </div>

          </div>
        </div>
      </div>




    </div>

    <section class="col-6" formGroupName="address">

      <section class="form-group">
        <label class="form-label">Country</label>
        <!-- <app-country-lookup [currentCountry]="myCountry" (country)="getCountry($event)"></app-country-lookup> -->
      </section>

      <!-- <app-postcode-lookup *ngIf="(isUK && editAddress) || (isUK && mode === 'create')" (address)="getAddress($event)"></app-postcode-lookup> -->

      <div *ngIf="(isUK && addressSelected) || (!isUK && countrySelected ) || (mode === 'edit')">
        <section class="form-group">
          <label class="form-label">Address
            <button type="button" class="button button--action button--sm" *ngIf="mode === 'edit' && isUK && !editAddress" (click)="editAddress=!editAddress">Change Address</button>
          </label>
          <input class="form-control form-input required" placeholder="" formControlName="addressLine1" />
        </section>

        <section class="form-group">
          <label class="form-label">Address Line 2</label>
          <input class="form-control form-input" placeholder="" formControlName="addressLine2" [readonly]="isUK" />
        </section>

        <section class="form-group">
          <label class="form-label">City</label>
          <input class="form-control form-input required" placeholder="" formControlName="townCity" name="townCity" [readonly]="isUK"
          />
        </section>

        <section class="form-group">
          <label class="form-label">County/State</label>
          <input class="form-control form-input" placeholder="" formControlName="countyState" name="countyState" [readonly]="isUK"
          />
        </section>

        <section class="form-group">
          <label class="form-label">Postcode <span [hidden]="isUK">/ Zip Code</span></label>
          <input class="form-control form-input required" placeholder="" formControlName="postCode" [readonly]="isUK" />
        </section>

      </div>
    </section>

  </div>


  <div class="form-group clea">



    <button type="submit" [disabled]="!userForm.valid || iAccept.value === false" class="button button--action button--lg float-right">
      Submit
    </button>
    <div  *ngIf="(iAccept.value === '' || iAccept.value === false) && userForm.valid" class="float-right small " style="clear: both">
    <p><i class="fa fa-exclamation-triangle " aria-hidden="true" style="color:orange"> </i>  You must accept the <b>Personal Data Statement</b> to continue</p>
    </div>
    <!-- <pre>{{iAccept.value | json}}</pre> -->


  </div>

</form>
