<div class="row mb-4">
  <div class="col-3">
    <button (click)="switchForm('DEFAULT')" type="show" class="btn btn-primary">Default Form</button>
  </div>
  <div class="col-3">
    <button (click)="switchForm('LOGIN')" type="show" class="btn btn-primary">Login Form</button>
  </div>
  <div class="col-3">
    <button (click)="switchForm('MONEY')" type="button" class="btn btn-secondary">Test Form</button>
  </div>
</div>


<form [formGroup]="userForm" (ngSubmit)="submit()">
  <formly-form 
      [model]="model" 
      [fields]="fields" 
      [form]="userForm" 
      (modelChange)="modelChange($event)">
                                         </formly-form>
</form>





<section class="form-container" fxLayout="row" fxLayoutGap="40px" fxFlexFill>
</section>













<!-- <div class="form-group clear">
    <button type="submit" [disabled]="!userForm.valid" class="button button--action button--lg float-right">
      Submit
    </button>
    <div *ngIf="(iAccept.value === '' || iAccept.value === false) && userForm.valid" class="float-right small "
      style="clear: both">
      <p><i class="fa fa-exclamation-triangle " aria-hidden="true" style="color:orange"> </i> You must accept the
        <b>Personal Data Statement</b> to continue</p>
    </div>
  </div> -->
