<p>Music recordings
  This will allow the user to manage rights data and other related metadata about recordings. These recordings could be
  unreleased or released.</p>

<mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>



<div style="display: none">

THIS IS A NASTY HACK - to be removed

  {{gridOptions.rowData}}
</div>

<div class="table-responsive-lg">
  <!-- (rowClicked)="openDialog($event)" -->
  <ag-grid-angular #agGrid style="width: 100%; height: 700px;" class="ag-theme-material" [gridOptions]="gridOptions"
    (cellClicked)="onCellClicked($event)">

    <ag-grid-column headerName="Recordings">

      <ag-grid-column headerName="Actions" [width]="100" [pinned]="true" [cellRenderer]="editBtnCellRenderer">
      </ag-grid-column>

      <!-- <ag-grid-column headerName="#" [width]="80" [checkboxSelection]="true" [suppressMenu]="false" [pinned]="true"
        [resizable]="true" [filter]="true"></ag-grid-column> -->

      <ag-grid-column headerName="Name" field="Name" [width]="125" [pinned]="true" [sortable]="true" [resizable]="true"
        [filter]="true"></ag-grid-column>
      <ag-grid-column headerName="Artist" field="Artist" [width]="120" [pinned]="false" [sortable]="true"
        [resizable]="true" [filter]="true"></ag-grid-column>
    </ag-grid-column>
    <ag-grid-column headerName="Details">
      <ag-grid-column headerName="ISRC" field="ISRC" [width]="150" [sortable]="true" [resizable]="true" [filter]="true">
      </ag-grid-column>
      <ag-grid-column headerName="ISWC" field="ISWC" [width]="100" [sortable]="true" [resizable]="true" [filter]="true">
      </ag-grid-column>
      <ag-grid-column headerName="Date" field="Date" [width]="100" [sortable]="true" [resizable]="true" [filter]="true">
      </ag-grid-column>
      <ag-grid-column headerName="Country" field="Country" [width]="150" [cellRenderer]="countryCellRenderer"
        [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
      <ag-grid-column headerName="Owner" field="Owner" [width]="150" [sortable]="true" [resizable]="true"
        [filter]="true"></ag-grid-column>
      <ag-grid-column headerName="Collective" field="Collective" [width]="150" [sortable]="true" [resizable]="true"
        [filter]="true"></ag-grid-column>
      <ag-grid-column headerName="Submitted to" field="Submitted to" [width]="150" [pinned]="false" [sortable]="true"
        [resizable]="true" [filter]="true"></ag-grid-column>
      <ag-grid-column headerName="Status" field="Status" [width]="150" [pinned]="false" [sortable]="true"
        [resizable]="true" [filter]="true"></ag-grid-column>

    </ag-grid-column>
  </ag-grid-angular>
</div>







<!-- <mat-card *ngIf="allItems">

0: "Name"
1: "Type"
2: "ISWC"
3: "Type"
4: "Composer"
5: "lyricist"
6: "Arranger"




<div class="table-responsive-lg">

    <table class="table table-striped table-hover table-sm small">
  
      <thead class="thead-dark">
        <tr>
          <th>Ref</th>
          <th>Title</th>
          <th>Artist</th>
          <th>ISRC</th>       
          <th >ISWC</th>
          <th >Date</th>
          <th >Country</th>
          <th >Owner</th>
          <th >Collective</th>
          <th>Submitted to</th>
          <th >Status</th>
          <th>Actions</th>
        </tr>
      </thead>
  
      <tbody>
 
        <tr *ngFor="let item of allItems">
            <td>ISDN-2345/4321</td>
            <td>{{item.Name}}</td>
            <td>{{item.Artist}}</td>
            <td>{{item.ISRC}}</td>     
            <td>{{item.ISWC}}</td>
            <td>{{item.Date}}</td>
            <td>{{item.Country}}</td>
            <td>{{item.Owner}}</td>
            <td>{{item.Collective}}</td>
            <td>{{item['Submitted to']}}</td>
            <th>{{item.Status}}</th>
            <td>
              <button  [routerLink]="['edit', item.ISRC]">Edit</button>   
              <a mat-stroked-button  [routerLink]="['detail', item.ISRC]">view</a>
            </td>
          </tr>
     
  
        </tbody>  
        </table>  
  
  </div>


</mat-card> -->

<!-- Music recordings
Title
the recording title/name.
Artist
The name of the band or artist associated with the recording
ISRC
12 alphanumeric characters, formed from the four code elements - see details. Example: UKNF91800001,  “UKNF9” - is the artist/band code, “18” two digit year, “00001” the first recording in that year.
ISWC


Date
The recording date. We may only need the year (P date) or year/month. 
Country
the country of recording, maybe this should be labeled location. 
Owner
The primary rights owner.
Collective
Collective Management Organisations. For a single right type this can be a single CMO that is that is tasked with collecting on your behalf or multiple CMOs. I think we should allow for a comma separated list with an expandable “...”
Submitted to
Other services like musicbrainz the user has enabled adapters for and submitted the recordings to. Will need expandable “...”
Status
As the user can potentially submit a recording to multiple CMOs and possibly other services like musicbrainz we may have multiple statuses. This should act as a guide for identifying a combined state and actions needed. We may need to keep this simple and rely on a detail page to hold the details. So this may say “not submitted” “processing”, “need more input to complete” and “submitted”. 
Action
Common actions should be: Edit, View details, Submit, Edit submit list.
Notes:
This should be used as an overview as we will have data that can not be easily tabulated. This is especially true if the data is submitted using multiple adapters. 
Editing and viewing the data is simple up to the point the user submits it. Once it is submitted to multiple services the data and state can diverge. If one of the services reports a title to be to long or containing unrecognised characters the data will need to be edited for that specific service and will diverge. I think we will need an expanded view for this.      -->