

<section appHelp="help.1" 
fxLayout="row wrap" 
fxLayoutAlign="start center" 
fxLayoutGap="40px" 
fxFlexFill 
class="mb-4">

<button mat-flat-button  routerLinkActive="active" color="primary"  [routerLink]="[ '/bloomen/users/register' ]">Register New User</button>

<button mat-flat-button  routerLinkActive="active" color="primary"  [routerLink]="[ '/bloomen/users/list' ]">View List</button>

</section>


<div class="row mb-4">
    <div class="col-3">
      <button (click)="switchForm('DEFAULT')" type="show" class="btn btn-primary">Default Form</button>
    </div>
    <div class="col-3">
        <button (click)="switchForm('LOGIN')" type="show" class="btn btn-primary">Login Form</button>
      </div>
    <div class="col-3">
      <button (click)="switchForm('MONEY')" type="button" class="btn btn-secondary">Test Form</button>
    </div>
  </div>

Details

<form (click)="interactionWithFormly()" [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [form]="form" (modelChange)="modelChange($event)"></formly-form>
</form>

| {{ fields}}
| {{ form.valid | json }}
| {{ model | json }}



<router-outlet></router-outlet>