

<section appHelp="help.1" 
fxLayout="row wrap" 
fxLayoutAlign="start center" 
fxLayoutGap="40px" 
fxFlexFill 
class="mb-4">

<button mat-flat-button  routerLinkActive="active" color="primary"  [routerLink]="[ '/bloomen/users/register' ]">Register New User</button>

<button mat-flat-button  routerLinkActive="active" color="primary"  [routerLink]="[ '/bloomen/users/list' ]">View List</button>

</section>


<div class="row mb-4">
    <div class="col-3">
      <button (click)="switchForm('DEFAULT')" type="show" class="btn btn-primary">Default Form</button>
    </div>
    <div class="col-3">
        <button (click)="switchForm('LOGIN')" type="show" class="btn btn-primary">Login Form</button>
      </div>
    <div class="col-3">
      <button (click)="switchForm('MONEY')" type="button" class="btn btn-secondary">Test Form</button>
    </div>
  </div>

Details

<form [formGroup]="form" (ngSubmit)="submit()">
  <formly-form [model]="model" [fields]="fields" [form]="form"  (modelChange)="modelChange($event)"></formly-form>
</form>

selectselectselectselectselectselectselectselectselectselectselectselectselectselectselectselectselect

<div
class="mat-form-field ng-tns-c9-2 mat-primary">
<div class="mat-form-field-wrapper">
  <div class="mat-form-field-flex"><!----><!---->
    <div class="mat-form-field-infix">
        <ng-select 
        matInput
        class="mat-input-element mat-form-field-autofill-control cdk-text-field-autofill-monitored"
        [items]="countries" 
        [multiple]="false" 
        [addTag]="true"
        bindLabel="label"
        bindValue="value"
          placeholder="Start typing to find your thing" 
          typeToSearchText="Start typing to search"
          addTagText="Click here to add" 
        >
        
        
          <ng-template ng-option-tmp let-item="item">
            {{item.label}} ({{item.value}})
          </ng-template>
        </ng-select>
  <span class="mat-form-field-label-wrapper"><!---->
  </span></div><!----></div><!----><div 
  class="mat-form-field-subscript-wrapper"><!----><!----></div></div>
</div>



<mat-form-field>




</mat-form-field> 

<p>******************</p>




<router-outlet></router-outlet>
{{countries | json}}