<!--<ag-grid-angular #gridAngular style="width: 100%;"-->
<!--                 class="ag-theme-material"-->
<!--                 domLayout="autoHeight"-->
<!--                 [rowData]="rowData"-->
<!--                 [defaultColDef]="defaultColDef"-->
<!--                 [gridOptions]="gridOptions"-->
<!--                 [frameworkComponents]="frameworkComponents"-->
<!--                 (selectionChanged)="onSelectionChanged($event)"-->
<!--                 [columnDefs]="columnDefs"></ag-grid-angular>-->

<table class="table table-bordered">
  <thead>
  <tr>
    <th *ngFor="let h of colHeadings">{{ h }}</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let currentField of field.fieldGroup; let i = index;">
    <td *ngFor="let c of currentField.fieldGroup; let j = index">
      <formly-field [field]="c"></formly-field>
    </td>
    <td>
      <button mat-flat-button (click)="remove(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
  <tr>
    <td [colSpan]="colHeadings.length + 1">
      <button mat-flat-button (click)="add(null, {})">
        <mat-icon>add</mat-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>

