<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Node</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <form *ngIf="formGroup" [formGroup]="formGroup">
    <dynamic-ionic-form class="has-pivot-button" [group]="formGroup" [model]="formModel">
      <ng-template modelId="target" align="START" let-value="value">
        <ion-icon class="pivot-button" name="link" (click)="gotoNode(value)"></ion-icon>
      </ng-template>
    </dynamic-ionic-form>
  </form>

  <div padding>
    <button ion-button color="primary" block>Save</button>
  </div>

  <ion-card *ngIf="validLinkTypes.length > 0">
    <ion-card-header>Add link to this {{ selectedItem.type }}</ion-card-header>
    <ion-list>
      <ion-item color="danger" *ngIf="message">{{ message }}</ion-item>
      <ion-item>
        <ion-label>Link type</ion-label>
        <ion-select (ionChange)="onSelectLinkType($event)">
          <ion-option *ngFor="let l of validLinkTypes" [value]="l">{{ l }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div padding>
    <button ion-button block icon-left (click)="addLink()">
      <ion-icon name="add"></ion-icon> add new link
    </button>
    </div>
  </ion-card>



  <!--{{ selectedItem | json }}-->

</ion-content>
