.has-pivot-button {
  position: relative;
  display: block;
}

.pivot-button {
  position: absolute;
  z-index: 9;
  right: 1em;
  font-size: 3rem;
  color: grey;
  padding-top: 0.25em;
  cursor: pointer;
}
