
<!-- z<pre>{{menuItems$ | async | json}}</pre> -->



<!-- {{ newMenuItems | json }} -->


<!-- <div   *ngFor="let item of newMenuItems; index as i">
<h3>{{item.label}}</h3>
{{item.path}}
{{item.parentLabel}}
{{item.icon}}

</div> -->

<mat-nav-list>

<mat-list-item *ngFor="let  item of newMenuItems" (click)="gotoPage(item.path, sidenav)">
    <mat-icon mat-list-icon>{{ item.icon }}</mat-icon>
    <a matLine>{{ item.parentLabel }}{{ item.label }} boo</a> {{item.hasChildren}}
  </mat-list-item>


</mat-nav-list>