<mat-toolbar>
    <span>
      <button mat-button mat-raised-button (click)="openAddNewDialog()">Create Release</button>
    </span>

  </mat-toolbar>
  <router-outlet></router-outlet>
  
  <mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>
  
  <!-- <pre> {{ allItems | json }}</pre> -->
  
  <div class="table-responsive-lg">
    <ag-grid-angular #agGrid style="width: 100%; height: 700px;" class="ag-theme-material" [gridOptions]="gridOptions"
      [frameworkComponents]="gridOptions.frameworkComponents" [rowData]="allItems" animateRows="true"
      (cellClicked)="onCellClicked($event)" rowSelection="multiple" (selectionChanged)="onSelectionChanged($event)"
      animateRows="true">
  
      <ag-grid-column headerName="Releases">
        <ag-grid-column headerName="#" [width]="80" [checkboxSelection]="true" [suppressMenu]="false" [pinned]="true"
          [resizable]="true" [filter]="true"></ag-grid-column>
  
        <ag-grid-column headerName="Actions" [width]="100" [pinned]="true" [cellRenderer]="editBtnCellRenderer">
        </ag-grid-column>
  
        <ag-grid-column headerName="Title" field="Title" [width]="175" [pinned]="true" [sortable]="true"
          [resizable]="true" [filter]="true" [cellEditorFramework]="gridOptions.frameworkComponents.inputRenderer"
          [editable]="true"></ag-grid-column>
  
        <ag-grid-column headerName="Artist" field="Artist" [width]="120" [pinned]="true" [sortable]="true"
          [resizable]="true" [filter]="true" [editable]="false"></ag-grid-column>
      </ag-grid-column>
  
      <ag-grid-column headerName="Details">
  
        <ag-grid-column headerName="Date" field="Date" [width]="100" [sortable]="true" [resizable]="true" [filter]="true">
        </ag-grid-column>
        <ag-grid-column headerName="Owner" field="Owner" [width]="100" [sortable]="true" [resizable]="true"
          [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="Date" field="Date" [width]="100" [sortable]="true" [resizable]="true" [filter]="true">
        </ag-grid-column>
        <ag-grid-column headerName="Territory" field="Territory" [width]="100" [cellRenderer]="countryCellRenderer"
          [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="Type" field="Type" [width]="150" [sortable]="true" [resizable]="true" [filter]="true">
        </ag-grid-column>
        <ag-grid-column headerName="Format" field="Format" [width]="150" [sortable]="true" [resizable]="true"
          [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="Catalogue Number" field="Catalogue Number" [width]="150" [pinned]="false"
          [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="Barcode" field="Barcode" [width]="150" [pinned]="false" [sortable]="true"
          [resizable]="true" [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="#tracks" field="Number of tracks" [width]="50" [pinned]="false" [sortable]="true"
          [resizable]="true" [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="Distribution" field="Distribution" [width]="150" [pinned]="false" [sortable]="true"
          [resizable]="true" [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="Collective" field="Collective" [width]="150" [pinned]="false" [sortable]="true"
          [resizable]="true" [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="Submitted to" field="Submitted to" [width]="150" [pinned]="false" [sortable]="true"
          [resizable]="true" [filter]="true"></ag-grid-column>
  
      </ag-grid-column>
    </ag-grid-angular>
  
    <mat-action-list *ngIf="claimsToSend.length > 0">
      <button mat-raised-button mat-button (click)="sendToClaim($event)">Claim Selected</button>
      <button mat-raised-button mat-button (click)="sendToRegister($event)">Register Selected</button>
      <button mat-raised-button mat-button (click)="sendToPublish($event)">Distribute/Publish Selected</button>
    </mat-action-list>
    <div>Selection: <span id="selectedRows">...</span></div>
  
  </div>