<ion-card>
  <ion-card-header>
    Project
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item><b>Project Reference: </b> {{ id }}</ion-item>
      <ion-item><b>Project Artist: </b> {{ project.ProjectArtist }}</ion-item>
      <ion-item><b>Project Name: </b> {{ project.ProjectName }}</ion-item>
      <ion-item><b>Comment: </b> {{ project.Comment }}</ion-item>
      <ion-item><b>Main Artist: </b> {{ project.MainArtist }}</ion-item>
      <ion-item><b>Label: </b> {{ project.Label }}</ion-item>
    </ion-list>
    <app-contributor-list [contributors]="project.Contributors"></app-contributor-list>
  </ion-card-content>
</ion-card>
