

<h2>Edit and Send Form:</h2>
<h5>You are about to send {{data.length}} claims</h5>

<mat-card>
  <mat-card-header>
    <mat-card-title> Claim {{rowCurrent + 1}} of  {{rowCount}}</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
  
      <!-- {{claim | json}} -->

<app-edit-send-form [data]="claim">
   

</app-edit-send-form>

  </mat-card-content>

</mat-card>



  <mat-card-actions>
      <button mat-mini-fab (click)="goToPrevRow()"><mat-icon>arrow_backward</mat-icon></button>
      <button mat-mini-fab (click)="goToNextRow()"><mat-icon>arrow_forward</mat-icon></button>
  </mat-card-actions>