<div style="float: left; width:30%; margin-right: 28px">

  <form [formGroup]="schemaform"  novalidate>

    <label for="">JSON Schema - (paste as plain-text!)</label>
<pre contenteditable="true" formControlName="JSONSchema">


</pre>




   <!-- <label for=""> JSON Schema</label>
    <textarea style="width:100%; height:600px"   name="JSONSchema"  autofocus>
    </textarea> -->

<label for="">UI Schema (not working 100%) - (paste as plain-text!)</label>
<pre contenteditable="true"  style="width:100%; height:200px"   formControlName="UISchema" name="UISchema" >
      </pre>


      <label for="">Model - (paste as plain-text!)</label>
      <pre contenteditable="true"style="width:100%; height:400px"  formControlName="model" name="model" >
        </pre>


  </form>
  </div>
  <!-- {{schemaform.value | json}} -->
  <div style="float: left; width:60%">

    <h3>{{formDescription}}</h3>
    <h4>{{formLabel}}</h4>

  <form >
    <formly-form
              [fields]="fields"
              [options]="options"
              [model]="model"
                              ></formly-form>

  <p>Hint: Try changing 'type' to password, date, datepicker, tags</p>
  <p></p>
  <div *ngIf="!isValid">
   <h3>JSON not valid!!!</h3>
  </div>


  </form>
</div>
