<div style="float: left; width:45%; margin-right: 28px">

  <button type="button" mat-icon-button (click)="shareForm()">
    <mat-icon>share</mat-icon>
  </button>

  <form [formGroup]="schemaform" novalidate>

    <label for="">JSON Schema - (paste as plain-text!)</label>
    <pre contenteditable="true" formControlName="JSONSchema">


</pre>




    <!-- <label for=""> JSON Schema</label>
    <textarea style="width:100%; height:600px"   name="JSONSchema"  autofocus>
    </textarea> -->

    <label for="">UI Schema (not working 100%) - (paste as plain-text!)</label>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Example UI Schema:
          </mat-panel-title>
          <mat-panel-description>
            Copy and Paste the code below
          </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>
{{uiSchemaDefault | json}}
</pre>
      </mat-expansion-panel>
    </mat-accordion>
  <pre contenteditable="true" style="width:100%; height:400px" formControlName="UISchema" name="UISchema">
      </pre>


    <label for="">Model - (paste as plain-text!)</label>

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Example Model:
          </mat-panel-title>
          <mat-panel-description>
            Copy and Paste the code below
          </mat-panel-description>
        </mat-expansion-panel-header>
        <pre>
{{egModel | json}}
</pre>
      </mat-expansion-panel>
    </mat-accordion>
    <pre contenteditable="true" style="width:100%; height:300px" formControlName="model" name="model">
        </pre>

  </form>
</div>
<!-- {{schemaform.value | json}} -->
<div style="float: left; width:50%">

  <h3>{{formDescription}}</h3>
  <h4>{{formLabel}}</h4>

  <form [formGroup]="form"  (ngSubmit)="submit()">
    <formly-form [fields]="fields" [options]="options" [model]="model" [form]="form"></formly-form>
    <div *ngIf="isValid">
    <p>Hint: Try changing 'type' to password, date, datepicker, tags etc etc</p>

    <button type="submit" mat-raised-button color="primary" *ngIf="form.valid">Submit</button>


  </div>
    <p></p>
    <div *ngIf="!isValid">
      <h3>JSON not valid!!!</h3>
    </div>

  </form>
</div>
