<div>

<p>
    As a writer or composer, you can register your own works and amend the details at any time. 
    However, if you have a publisher, they will usually manage any registration and amendments on your behalf.
</p>

  

  <mat-card>

      <form [formGroup]="formGroup">
    
          <dynamic-material-form [group]="formGroup"
                                 [layout]="formLayout"
                                 [model]="formModel"
                                 (blur)="onBlur($event)"
                                 (change)="onChange($event)"
                                 (focus)="onFocus($event)"
                                 (matEvent)="onMatEvent($event)" 
                                 fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="40px"
                                 ></dynamic-material-form>

      </form>  
  </mat-card>


  <div mat-dialog-actions class="align-right">
      <button mat-button  mat-dialog-close="cancel">Cancel</button>
      <button mat-button [mat-dialog-close]="formGroup.value" cdkFocusInitial [disabled]="formGroup.invalid">Submit</button>
    </div>

<p>You’ll be given a reference when you submit your work details, followed by a unique tune code for each work.</p>

</div>