//div.amplitude-play-pause {
//  width: 74px;
//  height: 74px;
//  cursor: pointer;
//  float: left;
//  margin-left: 10px;
//}
////
////div.amplitude-play-pause.amplitude-paused {
////  background: url('../img/play.svg');
////  background-size: cover;
////}
////
////div.amplitude-play-pause.amplitude-playing {
////  background: url('../img/pause.svg');
////  background-size: cover;
////}
