$brand-primary: #00BC8C;
$enable-rounded: false;
$headings-font-weight:100;

$header:  #ddbcde;
$light-gray:  #EDF1F0;

$font-family-sans-serif:    Roboto,  -apple-system, BlinkMacSystemFont, "Segoe UI",  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;