page-home {

}

.type-icon {
  background-color: #8c8c8c;
  border-radius: 2em;
  width: 2em;
  height: 2em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
