.batch-block-flex {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px 20px;
    overflow: hidden;
}

.multi-wrapper {
  flex: 1;
  overflow: hidden;
  min-width: 250px;
  max-width: 50%;

  &:last-child {
    flex-shrink: 0;
  }
}