.preview-message {
  font-size: 0.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #f7fafc;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.preview-message p {
  margin: 0 1rem 0 0;
}
