<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="hasProjects$ | async; else importProject">
    <app-project-list [projects]="projects$ | async"></app-project-list>
  </div>

  <ng-template #importProject>
    <input #fileInput
           type="file"
           accept=".xml"
           hidden="true"
           (change)="fileChange($event.target.files)" />
    <button ion-button (click)="pickFile()">Import RIN</button>
  </ng-template>

</ion-content>
