<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>Kendraio</ion-label>
        <ion-toggle disabled checked="true"></ion-toggle>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>Login to Kendra.io to add your digital identity.</p>
    </ion-card-content>
  </ion-card>

</ion-content>
