<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>Core</ion-label>
        <ion-toggle disabled checked="true"></ion-toggle>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>The Core adapter provides the base functionality that all other
        adapters rely on. Core can not be disabled. (Maintainer: Kendraio)</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label>DDEX RIN</ion-label>
        <ion-toggle disabled checked="true"></ion-toggle>
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <p>DDEX RIN is the "Recording Information Notification" data
        standard. This adapter enables support for import and export
        of RIN data, as well as the core entities for storage of
        projects, people, recordings, and works.
        See the
        <a href="http://www.ddex.net/recording-information-notification-rin" target="_blank">
          DDEX website
        </a> for more information. (Maintainer: Kendraio)
      </p>
      <p><b>RIN can not be disabled in the demo app.</b></p>
    </ion-card-content>
  </ion-card>

  <button ion-button (click)="resetApp()">Reset App</button>

</ion-content>
