:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

:host ::ng-deep mat-sidenav-container.app-container {
  flex: 1 1 auto;
  height: 100%;
  min-height: 0;
  position: relative;
}

:host ::ng-deep mat-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:host ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-height: 0;
}

app-main-menu {
  flex: 1 1 auto;
  display: block;
  min-height: 0;
  overflow-y: auto;
}

.sidenav-footer { 
  padding: 1rem;
  flex: 0 0 auto;
}

.sidenav-footer mat-icon {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  color: rgba(0, 0, 0, 0.38);
}
