<mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>

<div class="table-responsive-lg" appHelp="help.tmp2">
  <!-- (rowClicked)="openDialog($event)" -->
  <ag-grid-angular #agGrid style="width: 100%; height: 700px;" class="ag-theme-material" 
  [gridOptions]="gridOptions"
  [rowData]="allItems"
    (cellClicked)="onCellClicked($event)">

    <ag-grid-column headerName="File">

      <ag-grid-column headerName="Actions" [width]="100" [pinned]="true" [cellRenderer]="editBtnCellRenderer">
      </ag-grid-column>

      <ag-grid-column headerName="File" field="File" [width]="165" [pinned]="true" [sortable]="true" [resizable]="true"
        [filter]="true"></ag-grid-column>

    </ag-grid-column>

    <ag-grid-column headerName="Details">
      <ag-grid-column headerName="Title" field="Title" [width]="150" [sortable]="true" [resizable]="true" [filter]="true">
      </ag-grid-column>

      <ag-grid-column headerName="Type" field="Type" [width]="100" [sortable]="true" [resizable]="true" [filter]="true">
      </ag-grid-column>

      <ag-grid-column headerName="Uploaded date" field="Uploaded date" [width]="150" [sortable]="true" [resizable]="true"
        [filter]="true">
      </ag-grid-column>

      <ag-grid-column headerName="Uploaded by" field="Uploaded by" [width]="150" [sortable]="true" [resizable]="true"
        [filter]="true"></ag-grid-column>

      <ag-grid-column headerName="Created date" field="Created date" [width]="200" [sortable]="true" [resizable]="true"
        [filter]="true"></ag-grid-column>
        <ag-grid-column headerName="Created by" field="Created by" [width]="200" [sortable]="true" [resizable]="true"
        [filter]="true"></ag-grid-column>

    </ag-grid-column>
  </ag-grid-angular>
</div>