.inc-row {
  display: flex;
  margin-bottom: 1em;
}
app-person-preview {
  flex: 1;
  margin-left: 1em;

}
.cancel-button {

}
.tag-preview {
  width: 90px;
  height: 90px;
  overflow: hidden;

  img {
    display: block;
  }
}
