<p>
  file-details
</p>



File
The name of the uploaded file.
Title
User can give an uploaded file a title.
Type
The type of file. It may be useful to have this as two parts “Audio - wave” , “Audio - mp3” and allow filtering by both.
Audio
Photo
Video
Uploaded date
Date the file was uploaded.
Uploaded by
Only needed if we are supporting more then one user in the app.
Created date
metadata that can be entered about the date the resource was created.
Created by
or should it be “Copyright owner” - Not sure if we need this as we will likely manage in other screens. This may be derived from other linked information
EDIT
Link to edit page
Used by
It can be useful to see a list of releases using an audio file. We may need a “...” after if more then we have room for as a file can be used in more than one place. Use a popup or other way to expand on click.
