
<button type="button" mat-icon-button (click)="shareForm()">
  <mat-icon>share</mat-icon>
</button>

<div class="editor-wrapper">

  <div class="editor-panels editor-column">
    <span class="editor-title">JSON Schema</span>
    <ngx-monaco-editor [options]="editorOptions"
                       [model]="jsonModel"
                       [(ngModel)]="JSONSchema"
                       (ngModelChange)="jsonSchemaChange()" (onInit)="initJson()"></ngx-monaco-editor>
    <span class="editor-title">UI Schema</span>
    <ngx-monaco-editor [options]="editorOptions"
                       [model]="uiModel"
                       [(ngModel)]="UISchema"
                       (ngModelChange)="jsonSchemaChange()" (onInit)="initUi()"></ngx-monaco-editor>
    <span class="editor-title">Model Output</span>
    <div class="model-output" #modelOutput></div>
  </div>
  <div class="form-output editor-column">
    <formly-form [fields]="fields" [options]="options" [model]="model" [form]="form" (modelChange)="onChange()"></formly-form>
    <button mat-flat-button color="primary" (click)="onSubmit()">Submit</button>
  </div>

</div>
