
.block-type-title {
  flex: 1;
  margin-left: 0.5em;
}

.drag-handle {
  cursor: move;
}


:host ::ng-deep {
  mat-expansion-panel app-kendraio-icon {
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  mat-expansion-panel app-kendraio-icon mat-icon.material-icons {
    font-size: 1.3em;
    line-height: 1.3em;
  }
}


@import '~@angular/material/theming';
.mat-expansion-panel {
  user-select: none;

  &.cdk-drag-preview { // while dragging
    @include mat-elevation(12);
  }

  &.cdk-drag-placeholder { // potential drop area
    opacity: 0;
  }
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-expansion-panel:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}
