<mat-progress-bar *ngIf="showSpinner" mode="indeterminate"></mat-progress-bar>


<div style="display: none">
    {{gridOptions.rowData}}
    </div>
    
    <div  class="table-responsive-lg">
        <ag-grid-angular #agGrid style="width: 100%; height: 700px;" class="ag-theme-material"
                     [gridOptions]="gridOptions"
                     (cellClicked)="onCellClicked($event)">
    
                     <ag-grid-column headerName="Releases">
    
                        <ag-grid-column headerName="Actions" [width]="100" [pinned]="true" 
                        [cellRenderer]="editBtnCellRenderer"></ag-grid-column>

                     <ag-grid-column 
                              headerName="Title" 
                              field="Title" [width]="125" 
                              [pinned]="true"  
                              [sortable]="true" 
                              [resizable]="true" 
                              [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Artist"  field="Artist" [width]="120"  [pinned]="true"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                            </ag-grid-column>
    
                              <ag-grid-column headerName="Details">
                                                             
                              <ag-grid-column headerName="Date"  field="Date" [width]="100"    [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Owner"  field="Owner" [width]="100"    [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Date"  field="Date" [width]="100"    [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Territory"  field="Territory" [width]="100" [cellRenderer]="countryCellRenderer"    [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Type"  field="Type" [width]="150"   [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Format"  field="Format" [width]="150"    [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Catalogue Number"  field="Catalogue Number" [width]="150"  [pinned]="false"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Barcode"  field="Barcode" [width]="150"  [pinned]="false"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column> 
                              <ag-grid-column headerName="#tracks"  field="Number of tracks" [width]="50"  [pinned]="false"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Distribution"  field="Distribution" [width]="150"  [pinned]="false"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Collective"  field="Collective" [width]="150"  [pinned]="false"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                              <ag-grid-column headerName="Submitted to"  field="Submitted to" [width]="150"  [pinned]="false"  [sortable]="true" [resizable]="true" [filter]="true"></ag-grid-column>
                            
                            </ag-grid-column>
        </ag-grid-angular>
    </div>





<mat-card *ngIf="allItems">

  <div class="table-responsive-lg">

    <table class="table table-striped table-hover table-sm small">

      <thead class="thead-dark">
        <tr>
          <th>Title</th>
          <th>Artist</th>
          <th>Date</th>
          <th>Owner</th>
          <th>Territory</th>
          <th>Type</th>
          <th>Format</th>
          <th>Catalogue Number</th>
          <th>Barcode</th>
          <th>Number of tracks</th>
          <th>Distribution</th>
          <th>Collective</th>
          <th>Submitted to</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let item of allItems">

            <td>{{item.Title}}</td>
            <td>{{item.Artist}}</td>
            <td>{{item.Date}}</td>
            <td>{{item.Owner}}</td>
            <td>{{item.Territory}}</td>
            <td>{{item.Type}}</td>
            <td>{{item.Format}}</td>
            <td>{{item['Catalogue Number']}}</td>
            <td>{{item.Barcode}}</td>
            <td>{{item['Number of tracks']}}</td>
            <td>{{item.Distribution}}</td>
            <td>{{item.Collective}}</td>
            <td>{{item['Submitted to']}}</td>

         
          <td>
            <button [routerLink]="['edit', 555]">Edit</button>
            <a mat-stroked-button [routerLink]="['detail', 555]">view</a>
          </td>
        </tr>


      </tbody>
    </table>

  </div>


</mat-card>