.upload {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 2em 0;
}

.upload-file {
  text-align: center;
}

.upload-button {
  width: 14rem;
  height: 14rem;
  border-radius: 14rem;
  margin-bottom: 1em;
  cursor: pointer;

  background-color: hsl(142, 65, 25); // #166734; // hsl(142, 65, 25)
  color: hsl(142, 65, 90);
  //background-color: #f2673a;

  display: flex;
  align-items: center;
  justify-content: center;


  ion-icon {
    font-size: 7rem;
  }
}
.upload-button:hover {
  color: white;
}

