// TODO: Make the width of the side nav responsive?
:host {
  display: block;
  padding: 1em;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.build-info {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.54);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
}

.toolbar {
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.adapter-metadata {
  margin-bottom: 1em;
}
.metadata-edit {
  float: right;
}
app-blocks-editor {
  display: block;
  margin-bottom: 4rem;
}
