// TODO: Make the width of the side nav responsive?
:host {
  display: block;
  padding: 1em;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.toolbar {
  margin-bottom: 1em;
}

.adapter-metadata {
  margin-bottom: 1em;
}

.adapter-metadata-edit{
  display: flex;
}

.adapter-metadata-edit-text {
  flex: 1;
}

app-blocks-editor {
  display: block;
  margin-bottom: 4rem;
}
