<!-- 💸👌 Web Monetization compatibility detected -->
<span *ngIf="supported == true">

  <!-- 👍 Web Monetization working messaging -->
  <app-template-block [config]="supportFoundTemplateConfig"></app-template-block>

  <!-- 💸▶ active payment messaging -->
  <span *ngIf="!!paymentPointer && enabled == true">
    <app-template-block [config]="paymentActiveTemplateConfig"></app-template-block>

    <!-- 🧐 show payment pointer for debugging etc -->
    <span *ngIf="showPaymentPointer"> 
        {{ paymentPointer }}
    </span>
  </span>

  <!-- ⏸️ paused messaging -->
  <span *ngIf="enabled == false">
    <app-template-block [config]="paymentPausedTemplateConfig"></app-template-block>
  </span> 

</span>

<!-- 💸😞😭 support not found -->
<span *ngIf="supported == false">
  <div innerHTML="{{protectedLoginButtonMessage}}"></div>
  <app-template-block [config]="supportMissingTemplateConfig"></app-template-block>
</span>

