<form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="onSubmit()" autocomplete="off">

  <div class="mb-1" *ngFor="let field of _schema.fields" [ngSwitch]="field.type">
    <app-text-input-form-control *ngSwitchCase="'TEXT'"
                                 [placeholder]="field.label"
                                 [formControlName]="field.id"></app-text-input-form-control>
    <app-image-input-control *ngSwitchCase="'IMAGE'"
                             [placeholder]="field.label"
                             [tagControl]="formGroup.get('tags')"
                             [formControlName]="field.id"></app-image-input-control>

    <app-legacy-data-form-control *ngSwitchCase="'JSON'"
                                  [doc]="_doc"
                                  [formControlName]="field.id"></app-legacy-data-form-control>

  </div>


  <button type="submit" [disabled]="formGroup.invalid" mat-stroked-button color="primary">Save</button>
  <button type="button" color="warn" mat-flat-button (click)="resetForm()">Reset</button>
  <button type="button" mat-flat-button (click)="cancelled.emit()">Cancel</button>
  <!--<pre>{{ formGroup.value | json }}</pre>-->
</form>
<div *ngIf="errorMessage" class="message">{{ errorMessage }}</div>
<!--<pre>{{ _doc | json }}</pre>-->
