<form *ngIf="formGroup" [formGroup]="formGroup" autocomplete="off">


  <div class="form-buttons">
    <button type="button" (click)="onSubmit()" [disabled]="formGroup.invalid" mat-flat-button color="primary">Save</button>
    <button type="button" mat-stroked-button (click)="resetForm()">Reset</button>
    <button type="button" mat-stroked-button color="warn">Delete</button>
    <button type="button" mat-flat-button (click)="cancelled.emit()">Cancel</button>
  </div>
  <!--<pre>{{ formGroup.value | json }}</pre>-->
</form>
<div *ngIf="errorMessage" class="message">{{ errorMessage }}</div>
<!--<pre>{{ _doc | json }}</pre>-->
