@use '~@angular/material' as mat;
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
  @include ag-theme-alpine();
}

@import "~@fortawesome/fontawesome-free/css/all.css";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kendraio-app-primary: mat.define-palette(mat.$green-palette);
$kendraio-app-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kendraio-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$kendraio-app-theme: mat.define-light-theme($kendraio-app-primary, $kendraio-app-accent, $kendraio-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kendraio-app-theme);


html, body { height: 100%; overflow: hidden; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mb-1 {
  margin-bottom: 1em;
}
.mt-1 {
  margin-top: 1em;
}

dynamic-material-form-control .mat-form-field {
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.in {
  display: block;
}
.out {
  display: none;
}

.schedule-popup{
  // display:none;
  position: absolute;
  box-shadow: 3px 3px 3px rgba(55,3, 3, .5);
  padding: 16px;
  background-color: silver;
transform: translatey(-80px);
transition: all 2s ease;
z-index: 9;
&.in{
  display: block;
//  transform: translate(80px,-80px);
}
}

.editor-config-column .mat-expansion-panel-body {
  padding: 0;
}

app-workflow-cell-renderer app-actions-block.block-wrapper {
  margin: 0;
}

.batch-block-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tag-list {
  font-size: 0.8em;
  margin-bottom: 0.4em;
  .tag {
    background: #eee;
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
    margin-right: 0.4em;
  }
  .version-tag {
    background-color: #7fbbe3;
  }
}
