@import "~@fortawesome/fontawesome-free/css/all.css";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kendraio-app-primary: mat-palette($mat-green);
$kendraio-app-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kendraio-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$kendraio-app-theme: mat-light-theme($kendraio-app-primary, $kendraio-app-accent, $kendraio-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kendraio-app-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mb-1 {
  margin-bottom: 1em;
}
.mt-1 {
  margin-top: 1em;
}

dynamic-material-form-control .mat-form-field {
  width: 100%;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.in {
  display: block;
}
.out {
  display: none;
}

.schedule-popup{
  // display:none;
  position: absolute;
  box-shadow: 3px 3px 3px rgba(55,3, 3, .5);
  padding: 16px;
  background-color: silver;
transform: translatey(-80px);
transition: all 2s ease;
z-index: 9;
&.in{
  display: block;
//  transform: translate(80px,-80px);
}
}

.editor-config-column .mat-expansion-panel-body {
  padding: 0 0 16px;
}
