<div class="mat-typography mb-3">
  <h2>Register New User</h2>
</div>

<mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>


<form [formGroup]="registerUser" autocomplete="off">
  <mat-card class="mb-3">
    <mat-card-header>
      <mat-card-title>User Details</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content formGroupName="accountDetails">

      <app-account-form  (formData)="eventHandler($event, 'accountDetails')"></app-account-form>
<!-- [data]="value" -->
    </mat-card-content>
  </mat-card>

  <mat-card class="mb-2">
    <mat-card-header>
      <mat-card-title>User Login</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content formGroupName="logonDetails">

      <app-account-login-form mode="new" (formData)="eventHandler($event, 'logonDetails')">
<!-- [data]="value"  -->
      </app-account-login-form>

    </mat-card-content>
  </mat-card>
  <button mat-flat-button color="primary" (click)="submit()" 
  [disabled]="!allFormsVaild">Submit</button>
</form>

{{allFormsVaild}}===!!
<!-- 
{{accountDetails.invalid}} || {{logonDetails.invalid}} -->

<!-- 
{{ registerUser.value | json }}
{{ accountDetails.valid}} 
-->
