input[type='file'] {
  display: none;
}

ul {
   list-style: none;
   user-select: none;
   padding: 0;
}

.audio-wrapper {
  margin-bottom: 0.3rem;
}

li {
  background-color: #efefef;
  margin-bottom: 0.3em;
}

.dragging-container {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  background-color: #ccf;
  padding: 6px 0px 6px 18px;
}
