<div style="margin-bottom: 1em;">
  <button mat-raised-button (click)="enableAll()">Enable all</button>
</div>

<mat-grid-list cols="9" rowHeight="2:1">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
   <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>
  <mat-grid-tile>9</mat-grid-tile>

  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
   <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>
  <mat-grid-tile>9</mat-grid-tile>

  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
   <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile>7</mat-grid-tile>
  <mat-grid-tile>8</mat-grid-tile>
  <mat-grid-tile>9</mat-grid-tile>
</mat-grid-list>



<div *ngIf="adapters$ | async as adapters">
  <div *ngFor="let adapter of adapters | objectKeys">
    <mat-card *ngIf="adapters[adapter] as config">
      <mat-card-title>
        {{ config.adapter.title }} [{{ config.adapter.name }}]
      </mat-card-title>

      <mat-card-content>
        <p>
          {{ config.adapter.description }}
        </p>

        <div>
          <p mat-line><b>More info:</b> {{ config.adapter.infoUrl }}</p>
          <p mat-line><b>Maintainer:</b> {{ config.adapter.maintainer }}</p>
          <p mat-line><b>Support:</b> {{ config.adapter.supportUrl }}</p>
        </div>

        <div *ngIf="config.schemas | objectKeys as schemas">
          <p>
            <b>Supported schemas:</b>
            {{ schemas.join(', ') }}
          </p>
        </div>

        <div *ngIf="enabled[adapter]; else notEnabled" class="adapter-buttons">
          <button mat-flat-button color="warn" (click)="disableAdapter(adapter)">Disable</button>
          <button mat-stroked-button>Register</button>
          <button mat-stroked-button>Login</button>
          <a mat-stroked-button *ngIf="config?.adapter.swagger" [routerLink]="['/api-client', adapter]">API Client</a>
        </div>
        <ng-template #notEnabled>
          <button mat-flat-button color="primary" (click)="enableAdapter(adapter)">Enable</button>
        </ng-template>

      </mat-card-content>

      <!--<pre>{{ adapters[adapter] | json }}</pre>-->

    </mat-card>
  </div>
</div>
