<app-editor-layout>

  <ng-container class="toolbar">
    <button type="button" mat-icon-button (click)="clearBlocks()" matTooltip="Clear">
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="shareConfig()" matTooltip="Share">
      <mat-icon>share</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="loadFromAdapter()" matTooltip="Load from Adapter">
      <mat-icon>open_in_browser</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="workflow.copyConfig()" matTooltip="Copy config">
      <mat-icon>content_copy</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="workflow.pasteConfig()" matTooltip="Paste config">
      <mat-icon>content_paste</mat-icon>
    </button>
  </ng-container>

  <ng-container class="editor-config">
    <app-blocks-editor [blocks]="workflow.blocks" (blockUpdate)="onBlocksUpdate($event)"></app-blocks-editor>
  </ng-container>

  <ng-container class="editor-output">
    <app-blocks-workflow [blocks]="workflow.blocks" [models]="workflow.models"></app-blocks-workflow>
  </ng-container>
</app-editor-layout>
