

 <div>

  <mat-card>

      <form [formGroup]="formGroup">
    
          <dynamic-material-form [group]="formGroup"
                                 [layout]="formLayout"
                                 [model]="formModel"
                                 (blur)="onBlur($event)"
                                 (change)="onChange($event)"
                                 (focus)="onFocus($event)"
                                 (matEvent)="onMatEvent($event)" 
                                 fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="40px"
                                 ></dynamic-material-form>
        

      </form>

  </mat-card>







  <div mat-dialog-actions class="align-right">
      <button mat-button  mat-dialog-close="cancel">Cancel</button>
      <button mat-button [mat-dialog-close]="data.Name" cdkFocusInitial [disabled]="formGroup.invalid">Save</button>
    </div>


  <pre>{{formGroup.value | json}}</pre>

</div>